@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,600&family=Roboto:wght@500&display=swap');

*{
  margin: 0;
  padding: 0;
}

.nav-logo{
  font-family: 'Kanit', sans-serif;
  text-shadow: 2px 2px 6px black;
}

.navlogo-py{
  color: rgb(255, 136, 0);
}

.home-page{
  height: 100dvh;
  text-align: center;
  background: linear-gradient(to top, #ff8008, #ffc837);
}

Nav{
  font-size: 1rem;
  font-weight: 500;
  text-shadow: 1px 1px 3px black;
  font-family: 'Kanit', sans-serif;
  letter-spacing: .1rem;
}


/* mobiles  */
@media only screen and (max-width: 600px) {
 
}