@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,600&family=Roboto:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,600&family=Poppins&family=Reem+Kufi:wght@400;500;600;700&family=Roboto:wght@500&display=swap');

*{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.nav-logo{
  font-family: 'Kanit', sans-serif;
  text-shadow: 2px 2px 6px rgb(75, 75, 75);
}

.navlogo-py{
  color: rgb(255, 136, 0);
  text-shadow: 2px 2px 5px rgb(46, 46, 46);

}

Nav{
  font-size: 1rem;
  font-weight: 500;
  background-color: rgb(255, 136, 0);
  text-shadow: 1px 1px 3px rgb(133, 133, 133);
  font-family: 'Kanit', sans-serif;
}

/* home stylings */
.home-page{
  height: 100dvh;
  text-align: center;
  background: linear-gradient(to top, #f0f0f0, #ff8008);
  /* background: linear-gradient(to top, #ff8008, #ffc837); */
}

.home-section{
  height: 92dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.home-section>div{
  width: 40%;
  margin-top: 2rem;
}

.home-image img{
  width: 80%;
}

.home-text{
  font-family: 'Poppins', sans-serif;
}

.home-text h2{
  font-size: 1.9rem;
  font-weight:700;
}

.home-buttons{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.button-87 {
  margin: 0.8rem;
  padding: 1rem 2rem;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 0.8rem;
  display: block;
  border: 0px;
  font-weight: 700;
  box-shadow: 0px 0px 14px -7px #f09819;
  background-image: linear-gradient(45deg, #FF512F 0%, #F09819  51%, #FF512F  100%);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  text-decoration: none;
}

.button-87:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.button-87:active {
  transform: scale(0.95);
}

/* about page stylings */

.about-page-section{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.about-page{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 5rem;
  height: 100dvh;
  text-align: center;
  width: 80%;
}

/* mobiles  */
@media only screen and (max-width: 600px) {

  .home-section,.about-page{
    height: 92dvh;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    align-items: center;
  }
 
  .home-section div{
    width: 80%;
    height: 33dvh;
    margin-top: 2.5rem;
  }
  
  .home-image img{
    order: 1;
  }

  .about-image-section img{
    width: 80%;
  }

  .home-buttons{
  display: flex;
  width: 100%;
  height: 2rem;
  margin-left: auto;
  margin-right: auto;
}

  .button-87{
    padding: 0.5rem 0.5rem;
    height: 40px;
    margin: 0;
    font-size: 0.8rem;
  }

}